[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.gits
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/nephxio/glfwmv.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/nephxio/imguimv
	branch = docking
